---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.webp";
import Button from "../components/Button.astro";
---

<section
  class="flex flex-row justify-between items-center m-2 font-secondary bg font-body-b"
>
  <!-- Logo aligned to the start -->
  <div>
    <Image src={logo} alt="plastic change logo" class="my-0 w-36" />
  </div>

  <!-- Button aligned to the end -->
  <div
    class="flex items-center rounded-full border-solid border-2 border-plastic-red pl-8 pr-1.5 py-1.5"
  >
    <div>
      <p class="text-white pr-32 font-body-b">Skriv din email</p>
    </div>
    <Button>
      <div class="flex px-6 py-3 font-body-b">
        <p class="">Tilmeld dig nyhedsbrev</p>
      </div>
    </Button>
  </div>
</section>

<style>
  .bg {
    background-image: url(/bg-footer.webp);
  }
</style>
