---
import { Image } from "astro:assets";
import isberg1 from "../assets/images/isberg1.webp";
import isberg2 from "../assets/images/isberg2.webp";
import isberg3 from "../assets/images/isberg3.webp";
import Formular from "../components/Formular.astro";
---

<section class="bg bg-cover bg-center h-[110rem] relative overflow-hidden">
  <Image
    src={isberg1}
    class="isberg1 absolute parallax-item parallax-up"
    alt="isberg i baggrunden"
  />
  <Image
    src={isberg2}
    class="isberg2 absolute parallax-item parallax-left"
    alt="isberg i baggrunden"
  />
  <Image
    src={isberg3}
    class="isberg3 absolute parallax-item parallax-right"
    alt="isberg i baggrunden"
  />
  <!-- Donation Form Section -->
  <article
    class="absolute form parallax-item parallax-up-form flex justify-center"
  >
    <Formular />
  </article>s
</section>

<style>
  .bg {
    background-image: url(/sektion9_bg.webp);
  }

  .isberg1 {
    top: 26rem;
    transform: translateX(20%);
  }
  .isberg2 {
    top: 32rem;
    left: -10%; /* Start offscreen to the left */
  }
  .isberg3 {
    top: 44rem;
    right: -10%; /* Start offscreen to the right */
  }

  .form {
    z-index: 20; /* Ensure the form stays on top */
    left: 30%;
    bottom: -10%;
  }
</style>

<script>
  import { animate, scroll } from "motion";

  /* Parallax effect for the iceberg moving upward */
  scroll(animate(".parallax-up", { y: [-100, -500] }), {
    target: document.querySelector(".parallax-up"),
    offset: ["start end", "end start"],
  });

  /* Parallax effect for iceberg 2 moving from left to center */
  scroll(animate(".parallax-left", { x: ["-80%", "50%"] }), {
    target: document.querySelector(".parallax-left"),
    offset: ["start end", "end start"],
  });

  /* Parallax effect for iceberg 3 moving from right to center */
  scroll(animate(".parallax-right", { x: ["80%", "-50%"] }), {
    target: document.querySelector(".parallax-right"),
    offset: ["start end", "end start"],
  });

  /* Parallax effect for the form moving upward */
  scroll(animate(".parallax-up-form", { y: [-500, -300] }), {
    target: document.querySelector(".parallax-up-form"),
    offset: ["start end", "end start"],
  });
</script>
